{% extends 'base.html' %}
{% block title %} Uliza Contacts {% endblock %}
{% block content %}

<div class='contact-box' id='contact-form'>
   
    <h1>Add new Contact</h1>

    <form id='contact-attrs-form'  method='post' action='contacts/add/'>
	
	<!-- Add a roles dropdown list -->
		
	<input id="contact-btn" style='display: none;' type='submit' value='submit'/>

    </form>

</div>

<div class='contact-box' id='contact-attributes'>

    <h1>Contact Attributes</h1>

<div id="checkboxes"></div>

    <button id="attribute-btn">Add attribute(s)</button>

</div>

{% endblock %}

