{% extends "base.html" %}

{% block title %} Uliza Contacts {% endblock %}

{% block content %}

    {% if m_contact_list %}
	
	<table>

	{% for contacts in m_contact_list.items %}

	    <p>{{ key }} {{ value }}</p>

	{% endfor %}

	</table>	

    {% else %}

        <p>There are currently no contacts. Please check your server connection or Add new contacts</p> 

    {% endif %}   

    <!-- Colored FAB button with ripple -->
    <button onclick="location.href='add'" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" style="position:absolute;bottom:25%;right:15%;max-width:25%;z-index:1001;background-color:green;">
        <i class="material-icons">+</i>
    </button>

{% endblock %}
